body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}


.product-card {
    
    background-color: green;
    border: 3px solid black;

    
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    color: white; 
}


.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color:white;
}


.product-card h3 {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.product-card .price {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.add-to-cart-btn {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}